**/.terraform/*
/**/.temp/*
/**/.vagrant/*
/**/terraform.tfstate.backup
/**/terraform.tfstate
/.temp/*
/**/.terraform.lock.hcl
/**/terraform.tfvars
/**/plugins.txt
/**/*.tfplan
/**/kube_config
/**/*.info
/setup-03/00-create-multi-node-kubernetes-cluster/builds/
